@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Jersey+15&display=swap');

body {
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Jersey 15", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: darkcyan;
}
    
